body {
  background-color: #bdb3d4;
  font-family: "Cerebri Sans";
}
.container {
  margin: 120px auto;
  max-width: 600px;
  padding: 40px;
  border: solid 1px black;
  background-color: rgb(250, 250, 250);
}
ul {
  list-style: none;
}
span {
  font-size: 70%;
}
